%h1 Cantantes
%p Listado de cantantes

- if flash[:notice].present?
  .notice= flash[:notice]

- if @singers.any?
  %table{border: "1"}
    %tr
      %th Nombre
      %th Twitter
      %th Cantidad de Albums
    = render partial: "singer", collection: @singers
- else
  %em No hay ningun cantante agregado

%br

= link_to "Nuevo Cantante", new_singer_path