%h1 Albumes
%p Listado de albumes

- if @albums.any?
  %table{border: "1"}
    %tr
      %th Titulo
      %th Cantante
      %th Fecha de Creacion
    = render @albums
- else
  %em No hay ningun album agregado

%br

%p
  = link_to "Nuevo Album", new_album_path
